.ui.main {
  margin-top: 60px;
  padding: 20px;
}

.ui.container.center {
  display: flex;
  justify-content: center;
}

.ui.fixed.menu {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.ui.button.blue {
  margin: 10px 0;
}

.ui.celled.list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui.avatar.image {
  margin-right: 10px;
}